<section>
  <div class="title-section-wrapper">
    <h1 class="title-txt">
      We Provide High Quality <span class="title-colored-word">Dental</span> Services
    </h1>
    <p class="p-lg subtitle-txt">
      Appropriately embrace transparent materials via turnkey niche markets.
    </p>
    <div class="title-actions-wrapper">
      <div class="btn-wrapper">
        <button class="btn btn-blue-primary">
          Get Started
        </button>
      </div>
      <div class="btn-wrapper">
        <button class="btn btn-grey-outline">
          Learn More
        </button>
      </div>
    </div>
  </div>
  <div class="banner-wrapper">
    <img src="/assets/media/img/we-provide-high-illustration.png" alt="We Provide Ilustration">
  </div>
</section>