@import '../../../../../assets/branding/colors.scss';

section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $blue-primary;
  padding: 10em 4em 2em;

  h4,
  p {
    color: $white;
  }
}

.our-client-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2em;
}

.our-client-info {
  width: 100%;
  max-width: 706px;
  height: 394px;
  padding-top: 0.5em;
  border-top: 1px solid $grey;
}

.our-client-info-title {
  margin-bottom: 1em;
}

.our-client-info-icon {
  margin-bottom: 1em;
}

@media (max-width: 800px) {
  section {
    flex-direction: column;
  }

  .our-client-banner {
    margin: 0 2em 2em 0;
  }
}