<section>
  <div class="our-client-banner">
    <img src="/assets/media/img/samantah-client-says.png" alt="Samantah client">
  </div>
  <div class="our-client-info">
    <h4 class="our-client-info-title">
      What our client says about us
    </h4>
    <img class="our-client-info-icon" src="/assets/media/icons/double-quotes.svg" alt="Double quotes">
    <p class="p-md">
      I've seen a lot of Dentists over my lifetime because I've had some serious dental issues. But my highest praise
      goes to Dr. Jonathon Doe and his staffs . I was always very anxious going to the dentist but this time at Digital
      Implant, my experience was so painless and relaxed their was no discomfort whatsoever.
    </p>
  </div>
</section>