<footer>
  <div class="footer-top">
    <div class="footer-top-wrapper">
      <div class="footer-top__column">
        <img class="footer-top-logo-white" src="/assets/media/logos/Logo-white.png" alt="dentics-white-logo">
        <p class="p-md">
          Dentics is a well-known name in dental and oral care in New York. The journey of this institution started in
          1990
        </p>
      </div>
      <div class="footer-top__column">
        <p class="p-xs footer-top__column-title">
          We are welcoming you
        </p>
        <p class="clinic-invitation">
          Want to visit our clinic?
        </p>
        <p class="p-sm">
          Saturday - Thrusday
        </p>
        <p class="p-sm">
          10 am- 9 pm
        </p>
      </div>
      <div class="footer-top__column">
        <p class="p-xs footer-top__column-title">
          Important link
        </p>
        <div class="important-link-wrapper">
          <a class="a-white">
            Facebook
          </a>
          <a class="a-white">
            Career
          </a>
          <a class="a-white">
            Twitter
          </a>
          <a class="a-white">
            Support
          </a>
          <a class="a-white">
            Instagram
          </a>
          <a class="a-white">
            Privacy policy
          </a>
        </div>
      </div>
      <div class="footer-top__column">
        <p class="p-xs footer-top__column-title">
          Say hello to us
        </p>
        <p class="p-sm email-txt">
          hello@reallygreatsite.com
        </p>
        <p class="p-xs address-title-txt">
          Address
        </p>
        <p>
          123 Anywhere St., Any City, NY 39200
        </p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <p class="p-sm">
      © 2000-2021, All rights reserved
    </p>
  </div>
</footer>