<section>
  <div class="header">
    <h1 class="header-left">
      WHO
      <span>WE ARE</span>
    </h1>
    <h2 class="header-right">
      Our Glorious <br><span>History</span>
    </h2>
  </div>
  <div class="info-wrapper">
    <div class="info-left-container">
      <img src="/assets/media/img/who-we-are-illustration.png" alt="">
    </div>
    <div class="info-right-container">
      <div class="info-card">
        <h5 class="info-card-title">
          Our history
        </h5>
        <p class="p-md info-card-description">
          Dentics is a well-known name in dental and oral care in New York. The journey of this institution started in
          1990 under the hands of Dr. Jonathon Doe, Gold Medalist of Harvard University. Dentics dental center has been
          leading the way in dental treatment in USA for more than 30 years in keeping with the evolution of time and
          the modernization of the era.
        </p>
      </div>
    </div>
  </div>
</section>