@import '../../../../../assets/branding/colors.scss';

section {
  margin: 3em 0 5em 0;
  padding: 0 2em;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3em;
}

.header-left {
  span {
    margin-left: 0.25em;
    color: $yellow-primary;
  }
}

.header-right {
  line-height: 51px;
  text-align: right;

  span {
    font-size: 60px;
  }
}


.info-wrapper {
  display: flex;
  justify-content: space-between;
}

.info-card {
  background-color: $white-bg;
  border-radius: 16px;
  padding: 48px;
}

.info-right-container {
  padding: 0 3.5em;
}

.info-card-title {
  margin-bottom: 0.5em;
}

.info-card-description {
  color: $black-777;
}