@import './colors.scss';

.btn {
  min-width: 50px;
  height: 50px;
  padding: 0 2em;
  border: 0;
  text-align: center;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;

  &.btn-complete {
    width: 100%;
  }

  &.btn-blue-primary {
    background: $blue-primary;
    border: 1px solid $blue-primary;
    color: $white;
  }

  &.btn-blue-outline {
    background: #ffffff00;
    color: $blue-primary;
    border: 1px solid $blue-primary;
  }
}

.btn:hover {
  &.btn-blue-primary:hover {
    background: #ffffff00;
    color: $blue-primary;
    border: 1px solid $blue-primary;
  }

  &.btn-blue-outline:hover {
    background: $blue-primary;
    color: $white;
  }
}