$blue-primary: #516EFF;
$blue-secondary: #d2d9ff;
$blue-dark: #216583;
$yellow-primary: #FFD700;
$black-primary: #18181B;
$black-secondary: #52525B;
$black-777: #777777;
$grey: #BCBCBC;
$white-bg: #F8FAFC;
$red: #FF5151;
$green: #51FF64;
$white: #fff;